@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
.banner_1{
    margin:0;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    border-radius: 10%;
    display: inline-block;
    color: white;
    position: relative;
    font-family: Nunito, monospace;
    transition: all .4s ease-in-out;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    &:hover{
        transition: all .4s ease-in-out;
        .content{
            transition: all .4s ease-in-out;
            opacity: 0;
        }
    }
    .video{
        opacity: 0.5;
        height: auto;
        width:  auto;
        z-index: -1;
        transition: all .4s ease-in-out;
        &:hover{
            transition: all .4s ease-in-out;
            opacity: 1;
        }
    }
    .content{
        opacity: 1;
        z-index: 1;
        position: absolute;
        transform: translate(-50%,-50%);
        top:20%;
        left:50%;
    }
}

